div#first-container {
    width: 800px;
}
div#couleur {
    /* background: rgb(252, 244, 244); */
    width: 100px;
    height: 100px;
    border: 2pt solid black;
    float: right;
    margin: -125px;
}
