<!DOCTYPE html> <!--Instruction au navigateur concernant la version de HTML -->
<html lang="fr"> <!--Informe le navigateur que c'est un fichier HTML en langue française-->
<head> <!--Catégorie qui inclut le titre et la metadata, mais qui ne se voit pas dans le contenu de la page-->
<title>CV</title> <!--Titre de la page apparaissant dans l'onglet-->
<meta charset="UTF-8"> <!--Pour l'instant, donne l'encodage-->
</head>

<body style="background-color:#7196ff;"> <!--Contenu de la page, background color sert à définir la couleur du fond de la page-->
    <style> 
    h1  {
        color: #FFFFFF; /* Définit la couleur du texte*/
        font-family: Verdana; /* Définit la police d'écriture*/
        font-size: 300%; /* Définit la taille de la police*/
        text-align:center /* Définit la position dans la page*/
    }
    h2  {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 200%;
        text-align:center
    }
    p  {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 170%;
        text-align:right
    }

    ul {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 150%;
        text-align:right
    }
    figcaption {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 100%;
        text-align:left
    }
    </style> <!--Balise incluant du CSS, permettant de définir plusieurs paramètres à des balises (comme la couleur, la police d'écriture, la taille de la police et la position dans la page-->
    <h1 style="border:5px solid #fc940f;">{{ nom }} {{ prenom }}.</h1> <!--h1 définit l'importance du texte (le plus important), et border crée un cadre de 5 pîxels de couleur orangé autour de h1-->
    <h2><ins>{{ annee }}</ins></h2> <!--h2 se situe juste en dessous de h1 au niveau de l'importance, la balise ins sert à souligner le texte-->
    <hr style = "color:#FFFFFF"> <!--hr est une balise créant une rupture dans la page-->
    <figure>
        <img src="e1b.jpg" alt="E" width="400" height="400" title="E"><!--La balise img sert à apporter une image à la page, avec l'aide de src (source de l'image), alt (nom de l'image sur la page), width et height (définit la taille de l'image), et title (sert d'infobulle) -->
        <figcaption>e limite de (1+1/n)^n </br>(je n'ai pas trouvé de photo adéquate de ma personne, donc voici une image assez drôle)</figcaption> <!--Ajoute une légende à l'image-->
    </figure> <!--Inclut l'image et la légende-->
    <p style="background-color:#fc940f;">Mon parcours scolaire :</p> <!--La balise p constitue un simple paragraphe-->
    
    <ul>
        <li><mark>6ème</mark> : En classe d'anglais renforcé, la 6H. Professeur principal : Madame Sotto </li> <!--La balise li sert à faire des listes à puces, la balise mark surligne d'un texte-->
        <li><mark>5ème</mark> : En classe d'anglais renforcé, la 5G. Professeur principal : Madame Denis</li>
        <li><mark>4ème</mark> : En classe à majorité allemand LV2, la 4B. Professeur principal : Madame Carrara</li>
        <li><mark>3ème</mark> : En classe à majorité option latin, la 3F. Professeur principal : Madame Ardaine</li>
        <li><mark>Fin de 3ème</mark> : Obtention du brevet avec 19,33 de moyenne</li>
        <li><mark>2nde</mark> : En classe théâtre, la 2nde 5. Professeur principal : Madame Finzi </li>
        <li><mark>1ère</mark> (en cours) : En classe spé mathématiques, la 1D. Professeur principal : Madame Lefort</li>
    </ul> <!--Crée une liste spécifique-->

</body>